.doctor-card{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    margin: 0.5rem 0rem;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}
.docphoto{
    display: flex;
   
 
}
.docphoto>img{
    width: 140px;
    height: 140px;
    border: 1px solid #f0f0f5;
    border-radius: 50%;
}
.docdetails{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    
}
.doctor-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.docdetails>*{
    padding: none;
    margin: 0.3rem;
}
.docdetails>h3{
    color:#45AEDB;
}
.docdetails>p{
    color: gray;
    font-size: 14px;
}
.docactions{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}
.doc-btn{
    background-color: #45AEDB;
    color: white;
    font-weight: 900;
    padding: 1rem 2rem;
    float: right;
    width: 100%;
}