@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root{
    --nav-height:80px;
}
html{
   overflow-x: hidden;
}
*{
    transition: 0.2s;
}
body{
    font-family:montserrat,sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}
button{
    border: none;
    margin: 1rem;
    padding: 0rem;
    display: block;
    position: relative;
    background: none;
    cursor: pointer;
   
}
button:hover>span{
    cursor: pointer;
    transform: translate(-4px,-4px)
}
button>span{
    display: flex;
    align-items: center;
    z-index: 2;
    background: #ff2d20;
    padding: .6em 4em;
    height: 2em;
    font-family: scandia-web,sans-serif;
    font-weight: 900;
    color: #fff;
    border: 1.5px solid #ff2d20;
    text-align: center;
    transition: transform .3s ease;
}
.article-actions>button::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #ff2d20;
}
#main-nav{
    display: flex;
    height: var(--nav-height);
    padding-top: 1rem;
    margin-left: 4rem;
    align-items: center;
}
.logo{
    padding: 20px;
    height: 100%;
}
.navitem{
    padding: 20px;
    cursor: pointer;
}
.navitem:hover{
    transform: scale(1.03);
}
#navsearch{
    float: right;
    width: 50%;
    border: none;
    border-bottom: solid black 1px;
    
}
.search{
    flex: 1;
    text-indent: 2rem;
    width: 25%;
    outline: none;

}
input[type="submit"]{
    border: none;
    background: url(./search.min.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    transform: translateX(20px) scale(0.7);
    padding-right: 20px;
    font-size: 20px;
    color: black;
    font-weight: 400;
}
.article-bg{
    position: absolute;
    z-index: -1;
    overflow: hidden;
   right: -40%;
    top: 130%;
    transform: scale(0.5);
}
.article-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 2rem;
    margin: 5rem;
    position: relative;
}
.article-content{
    color: grey;
}
.article-header>h1{
    font-size: 50px;
}
.search-group{
    width: 60%;
    height: 100%;
    float: right;
    display: flex;
}
.article-content{
    grid-row: 2/3;
    grid-column: 1/2;
}
.article-actions{
display: flex;
grid-row: 3/3;
width: 100%;
}

#documentbtn{
    outline-color: #ED5127;
    background: 0 0;
    font-weight: 600;
    color: #ED5127;
    outline-width: 1.5px;
    outline-style:solid
}

#watchbtn{
    outline-color: #ED5127;
    background: 0 0;
    font-weight: 600;
    color: #ED5127;
    outline-style:solid;
    outline-width: 1.5px;
}
#watchbtn>span{
    background: white;
    color:#ED5127
}
.ecosystem{
    padding-top: 5rem;
}
.ecosystem-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.ecosystem-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 2rem 6rem;
}
.eco-card{
    box-shadow: 0 20px 30px -16px rgba(9,9,16,.2);
    width: 100%;
    height: 100px;
    display: flex;
}
.eco-card:hover{
    transform: scale(1.06);
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(9,9,16,.15);
}
.ecosystem-header>p{
    color: grey;
}
.ecosystem-header{
    margin-bottom: 4rem;
}
.ecosystem-header1{
    margin-bottom: 1rem;
    text-align: center;
}
.card-details{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 30px;
}
.card-details>span{
    font-size: 12px;
    color: grey;
}
.card-img{
    margin:0.5rem;
    display: inline-block;
    width: 90px;
    
}
.card-img>img{
    width: 100%;
    transform: scale(0.3);
}
.article-video{
    position: absolute;
    z-index: -1;
    transform: scale(0.75);
}
.video-gap{
    height: 800px;
    overflow: hidden;
    position: relative;
    filter: grayscale(1) brightness(1.5) opacity(0.2);
}
.video-gap .cube1{
    position: absolute;
    top: 10%;
    right: 50%;
    animation-name: updown;
    animation-duration: 10s;
    
    animation-iteration-count: infinite;
}
.video-gap .cube2{
    position: absolute;
    top: 30%;
    right: 40%;
    width: 200px;
    transform: scale(2);
    animation-name: updown;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
.video-gap .cube3{
    position: absolute;
    top: 30%;
    right: 60%;
    width: 200px;
    animation-name: leftright;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
.video-gap .cube4{
    position: absolute;
    top: 30%;
    right: 60%;
    width: 120px;
    animation-name: leftright;
    animation-duration: 14s;
    z-index: -1;
    animation-iteration-count: infinite;
}
.video-gap .cube5{
    position: absolute;
    top: 30%;
    right: 60%;
    width: 300px;
    animation-name: updownmore;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
.video-gap .cube6{
    position: absolute;
    top: 30%;
    right: 40%;
    width: 150px;
    animation-name: updownmore;
    animation-duration: 9s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
.video-gap .cube7{
    position: absolute;
    top: 30%;
    right: 60%;
    width: 50px;
    z-index: -1;
    animation-name: leftrightmore;
    animation-duration: 20s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}
.video-gap .cube8{
    position: absolute;
    top: 30%;
    right: 60%;
    width: 100px;
    animation-name: leftrightmore;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.video-gap .cube9{
    position: absolute;
    top: 30%;
    right: 40%;
    width: 100px;
    animation-name: leftrightmore;
    animation-duration:8s;
    animation-delay: 0.2ss;
    animation-iteration-count: infinite;
}
.video-gap .cube9{
    position: absolute;
    top: 40%;
    right: 50%;
    width: 160px;
    animation-name: leftrightmore;
    animation-duration:8s;
    animation-delay: 0.2ss;
    animation-iteration-count: infinite;
}
.video-gap .cube10{
    position: absolute;
    top: 60%;
    right: 45%;
    width: 160px;
    animation-name: leftright;
    animation-duration:8s;
    animation-delay: 0.2ss;
    animation-iteration-count: infinite;
}
.video-gap .cube11{
    position: absolute;
    top: 60%;
    right: 54%;
    width: 160px;
    animation-name: updownmore;
    animation-duration:8s;
    animation-delay: 0.2ss;
    animation-iteration-count: infinite;
}
footer{
    padding: 3rem;
    margin-top: -30rem;
}
.partners{
    display: flex;
    height: 200px;
    align-items: center;
    width: 70%;
    margin: 10%;
   position: relative;
    z-index: 99;
    padding: 5%;
    background-color: white;

    box-shadow: 0 20px 30px -16px rgba(9,9,16,.2);;
}

.partners-details{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.partners-actions{
    flex: 0.5;
    align-items: center;
    position: relative;
}
.partners-actions>button{
    position: absolute;
    left: 20%;
    top: 20%;
    background-color: #ED5127;
    color: white;
    font-weight: 600;
    outline: none;
    width: 200px;
}
.partners-headers{
    font-size: 3rem;
}
.partners-desc{
    color: grey;
    margin-top: 2rem;
}
footer>.container{
    background-color: rgb(248, 245, 245);
    z-index: -1;
    margin-top: -10rem;
}
.footer-details{
    display: flex;
}
.footer-details>ul{
    list-style-type: none;
    padding: 6rem 2rem;
}
li{
    padding: 0.5rem 0rem;
    font-size: .8em;
    color: grey;
    cursor: pointer;
}
.list-header{
    font-weight: 1000;
    color: black;
    padding: 2rem 0rem;
    cursor: text;
}
.foot-logo{
    margin-left: -4rem;
}
.social-links{
    display: flex;
}
.social-icon{
    margin: 0.5rem;
}
.last-logo{
    position: relative;
    padding: 2rem;
    padding-bottom: 1rem;
}
.last-img{
    position: absolute;
    height: 2rem;
    left: 50%;
}
.sidebar{
    position: fixed;
    width: 30%;
    height: 100%;
    background-color: #ED5127;
    z-index: 999;
    transform: translateX(-110%);
    transition: all 1s;
    display: flex;
    flex-direction: column;
}
.active{
    transform: translateX(0%);
    transition: all 1s;
}
#ham-icon{
    filter: invert(48%) sepia(13%) saturate(99999999%) hue-rotate(-4deg) brightness(95%) contrast(80%);
}
#remove-icon{
    padding: 20px;
    cursor: pointer;
    float: right;
    display: block;
}
.side-header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 10%;
    width: 100%;
}

ul{
    list-style: none;
}
.sidelist{
    font-size: 1rem;
    font-weight: 900;
    color: white
}
.input-group{
    display: flex;
    margin:20rem 10rem;
    margin-top: 2rem;
    align-items: baseline;
}
.input{
    outline:none;
    width:100%;
    height: 50px;
    margin-bottom: 0;
    border:1px solid  darkblue;
    font-size: 1rem;
    text-indent: 3.5rem;
}
.input-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-text{
    position: relative;
}
.input-btn{
    outline:none;
    width:100%;
    height: 50px;
    margin: 2rem 1rem;
    border:1px solid #ED5127;
    font-size: 1.5rem;
    background-color: #ED5127;
    cursor: pointer;
    color:white
}
#locations-ul{
    display: none;

}
.regsign{
    display: flex;
}
.reg-btn{
    background-color: #ED5127;
    color: white;
    padding: 1rem 2rem;
    font-weight: 900;
    cursor: pointer;
    outline: none;
}
.sign-btn{
    background-color:white;
    color: #ED5127;
    padding: 1rem 2rem;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid #ED5127;
    outline: none;
}
.signup{
    position: fixed;
    display: grid;
    width: 110vw;
    height: 110vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color:white;
    align-items: center;
    z-index: 99;
}
.inputgroup{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    box-shadow: 0 20px 30px -16px rgba(9,9,16,.2);
    /* border: 2px solid #ED5127; */
}
.reginput{
    border: 1px solid #ED5127;
    font-weight: 900;
    padding:1rem 2rem;
    margin: 1rem;
    outline: none;
}
.regclose{
    grid-column: 3/3;
    height: 30px;
    cursor: pointer;
    float: right;
}

.regclose:hover{
   height: 35px;
}
#singout{
    display: none;
}
#signup{
    display: none;
}
#login{
    display: none;
}
.notification-item{
   background-color: #ED5127;
   color: white;
   padding: .5rem;
   width: 20rem;
   box-shadow: 0 20px 30px -16px rgba(9,9,16,.2);
   text-align: center;
   margin: 0.5rem;
   font-size: 16px;
   font-weight: 900;
   animation: notify 5s;
   display: flex;
   align-items: center;
   opacity: 0;
   animation-iteration-count: none
  
}
.input-icon{
    position: absolute;
    height: 40%;
    top: 25%;
    margin: 0rem 1rem;
}
.input-wrapper{
    position: relative;
}
.notification-item>p{
    width: 100%;
    font-size: small;
}
.notification-item>img{
    margin: 0.1rem;
    filter: invert(1) grayscale(1) contrast(100);
}
.doc-ul{
    border: solid 1px darkblue;
    padding: 1rem;
    margin: .3rem;
    position: absolute;
    width: 80%;
    top: 60px;
    z-index: 10;
    left: 5%;
}
.doc-ul>li{
    padding: 1rem;
    display: none;
    background-color: white;
    border: solid 0.5px rgba(128, 128, 128, 0.322);
}
.doc-ul>li:nth-child(-n+15){
    display:block;
}
.doctor-result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doctor-card{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 2rem;
    justify-content: space-between;
    border-bottom: solid 1px rgba(128, 128, 128, 0.37);
}
.docphoto{
    display: flex;
   
 
}
.docphoto>img{
    width: 140px;
    height: 140px;
    border: 1px solid #f0f0f5;
    border-radius: 50%;
}
.docdetails{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    
}
.doctor-result{
    min-height: 2400px;
    display: none;
}
.docdetails>*{
    padding: none;
    margin: 0.3rem;
}
.docdetails>h3{
    color:#45AEDB;
}
.docdetails>p{
    color: gray;
    font-size: 14px;
}
.docactions{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}
.doc-btn{
    background-color: #45AEDB;
    color: white;
    font-weight: 900;
    padding: 1rem 2rem;
    float: right;
    width: 100%;
}
.doc-pagination{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pagination-content{
    display: flex;
}
.pagination-content>a{
    font-weight: 900;
    cursor: pointer;
    padding: 0.5rem;
}
.pagination-content>a.active{
    color: #ff2d20;
}
.dot {
    border-radius: 50%;
    border: 2px solid #7f7f7f;
    display: inline-block;
    margin: 2px 3px;
}
.loader{
    position: fixed;
    z-index: 999;
    background-color: rgba(9,9,16,.2);
    width: 100vw;
    height: 100vh;
    display: none;
}
.loader-svg{
   filter: invert(48%) sepia(13%) saturate(99999999%) hue-rotate(-4deg) brightness(95%) contrast(80%);
    height: 10%;
    position: absolute;
    top: 50%;
    left: 45%;
}
@keyframes updown{
    0% {transform: translateY(0);}
    50% {transform: translateY(100px);}
    100% {transform: translateY(0px);}
}
@keyframes leftright{
    0% {transform: translateX(0);}
    50% {transform: translateX(100px);}
    100% {transform: translateX(0px);}
}
@keyframes updownmore{
    0% {transform: translateY(0);}
    50% {transform: translateY(300px);}
    100% {transform: translateY(0px);}
}
@keyframes leftrightmore{
    0% {transform: translateX(0);}
    50% {transform: translateX(200px);}
    100% {transform: translateX(0px);}
}
@keyframes notify{
    0%{transform: translateY(100px);opacity: 0;}
    10%{transform: translateY(0);opacity: 1;}
    60%{opacity: 0;}
}

@media screen and (max-width:1200px){
    .navname{
        display: none;
    }
    #main-nav{
        margin-left: 0;
    }
    .article-video{
        display: none;
    }
    .article-header{
        margin: 2rem;
    }
    .article-wrapper{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 1rem;
    }
    .article-actions{
        flex-direction: column;
        align-items: center;
    }
    .ecosystem-grid-card{
        grid-template-columns: 1fr;
        margin: 0.5rem;
    }
    p{
        padding: 1rem!important;
        font-size: 0.6rem;
        line-height: 10px!important;
    }
    .video-gap{
        display: none;
    }
    .footer-details{
        display: none;
    }
    .partners{
        flex-direction: column;
        height: fit-content;
    }
    .partners-actions{
        display: none;
    }
    footer>.container{
        margin: 1rem;
        background-color: white;
    }
    .foot-logo{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .last-img{
        left: 45%;
    }
    .partners-headers{
        font-size: 1.2rem;
    }
    .logo{
        display: none;
    }
    .sidebar{
        width: 100%;
    }
    footer{
        margin: 0;
    }
    .input-group{
        flex-direction: column;
        margin: 0;
    }
    .doctor-search{
        margin: 1rem;
    }
    .input-text{
        margin: 1rem;
    }
    .docphoto>img{
        width: 150px;
        height: 150px;
    }
    .doctor-card{
        flex: auto;
        width: fit-content;
        flex-wrap: wrap;
    }
    .docdetails>* {
        padding: 0.2rem!important;
        margin: 0;
    }
    .docdetails{
        margin-left: 0.1rem;
        width: 200px;
    }
}
@media screen and (max-width:700px){
    .docphoto>img{
        width: 90px;
        height: 90px;
    }
    h3{
        font-size: 10px;
    }
    .docdetails>p{
        font-size: 10px;
    }
}
@media screen and (min-width:400px)and(max-width:700px){
    .ecosystem-grid-card{
        grid-template-columns: 1fr 1fr;
    }
   
}
@media screen and (min-width:700px) and (max-width:1200px){
    .ecosystem-grid-card{
        grid-template-columns: 1fr 1fr;
    }
    p{
        padding: 5rem 15rem!important;
    }
    .docactions{
        align-items: flex-end;

    }
    .doctor-card{
        width: 80%;
    }
}